@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">DoNote</h1>
    <p>
        Your simple, powerful note and task manager.

        Capture ideas, organize to-do lists, and stay on top of what matters — all in one place.
        Fast. Clean. Always with you.
    </p>
</div>
